<header class="header"> 

   <div class="container" id="banner"  >
      <div class="row"> 


 <%= image_tag "imark_blue.jpg", id: 'imark' %> 
  <%= image_tag "cells.png", id: 'cells' %> 
  
  <div id="school_of">School of</div>
  <div id="integrative">Integrative</div>
  <div id="biology">Biology</div>

	</div>
    </div>

<!--<div class="navbar supermenu navbar-inverse navbar-fixed-top">-->

<div class="navbar supermenu navbar-static-top" role ="navigation" id="topnavbar" >
   
<!--KA: Use container-fluid if you want a full page width menu
   <div class="container-fluid"> -->
   <div class="container">

      <div id ="logo_div" class="navbar-header" >
         <button id ="logo_btn" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle" >
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
       <a href="/" class="navbar-brand"> School of Integrative Biology</a>
      </div>

     
    <!-- Supermenu Navbar -->
     <div id="navbar-collapse-1" class="navbar-collapse collapse" >
	<ul class="nav navbar-nav">

<!-- Navbar Home button -->
	<li class="dropdown supermenu" id="navbar_home"><a href="/" class="dropdown-toggle"><i class="fa fa-home"></i></a>

<!-- Menu Item-1 -->
	   <li class="dropdown supermenu" id = "navitem1"><a href="/about" class="dropdown-toggle"  >About</a>
	     <ul class="dropdown-menu" >
	       <li>
	          <div class="supermenu-content">
		    <div class="row">
		      <ul class="col-md-5 list-unstyled">
			<li><strong><%= link_to "People-New", about_depts_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Research-New", about_depts_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Departments", about_depts_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Programs -New", about_depts_path %></strong></li>
		      </ul>
		</div>
	      </div>
            </li>
          </ul>
        </li>


    <!-- Menu Item-2 -->
   <!-- <li class="dropdown supermenu "><a href="#" data-toggle="dropdown" class="dropdown-toggle">Undergraduate</a>  -->
    <li class="dropdown supermenu "><a href="/undergraduate" class="dropdown-toggle">Undergraduate</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row"  >

	      <ul class="col-md-5 list-unstyled">
		<li><strong><%= link_to "Prospective", prospective_path %></strong></li>
		<hr>
		<li><strong><a  href="#"> Courses -NEW </a></strong></li>
		<hr>
		<li><strong><a  href="#"> Honors -NEW </a></strong></li>
		<hr>
		<li><strong><%= link_to "Advising", advising_path %></strong></li>
				      
              </ul>
  	</div>
          </div>
        </li>
      </ul>
    </li>

    <!-- Menu Item-3 -->
    <li class="dropdown supermenu"><a href="/graduate" class="dropdown-toggle">Graduate</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	       <ul class="col-md-5 list-unstyled">
		   <li><strong><a  href="#"> Prospective -NEW </a></strong></li>
		   <hr>
	      	   <li><strong><a  href="#"> Courses -NEW </a></strong></li>
      	       </ul>
           </div>
         </div>
        </li>
       </ul>
    </li>


 <!-- Menu Item-4 -->
    <li class="dropdown supermenu"><a href="/people" class="dropdown-toggle">Alumni & Friends</a></li>


 <!-- Menu Item-5 -->
    <li class="dropdown supermenu"><a href="/people" class="dropdown-toggle">Resources</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	      <ul class="col-md-5 list-unstyled">
		   <li><strong><a  href="#"> For Faculty & Staff </a></strong></li>			
	      </ul>
           </div>
         </div>
        </li>
       </ul>
    </li>

 <!-- Menu Item-6 -->
    <li class="dropdown supermenu"><a href="/people" class="dropdown-toggle">Removed</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	      <ul class="col-md-5 list-unstyled">
		 <li><strong><%= link_to "Ugrad-What Can I do with IB?", options_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Ugrad-Programs of Study", programs_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Ugrad-Special Programs", special_programs_path %></strong></li>
		<hr>
		<li><strong><%= link_to "GRAD-Department & Programs", about_depts_path %></strong></li>
		<hr>
		<li><strong><%= link_to "GRAD-Grants & Awards", grad_grants_path %></strong></li>
		<hr>
		<li><strong><a  href="http://www.grad.illinois.edu/"> GRAD-Support </a></strong></li>
		<hr>
		<li><strong><%= link_to "GRAD-News & Features", grad_news_path %></strong></li>
		<hr>
  		<li><strong><a  href="#"> Courses- All IB Courses </a></strong></li>
		  <hr>
		  <li><strong><a  href="#"> Courses- Advanced Courses By Semester </a></strong></li>
		  <hr>
		  <li><strong><a  href="#"> Courses- Advanced Area Courses </a></strong></li>
		  <hr>
		  <li><strong><a  href="#"> Courses- Addtional Approved Advanced Courses</a></strong></li>
 		  <hr>
		  <li><strong><a  href="#"> Courses- Special Topics Courses</a></strong></li>
		  <hr>
		  <li><strong><a  href="#"> Courses- Proficiency Exams </a></strong></li><hr>
		<li><strong><%= link_to "People-Faculty", people_faculty_path %></strong></li>
		<hr>
		<li><strong><%= link_to "People-Staff", people_staff_path %></strong></li>
		<hr>
		<li><strong><%= link_to "People-Academics", people_academics_path %></strong></li>
		<hr>
		<li><strong><%= link_to "People-Graduate Students", people_grad_students_path %></strong></li>
		<hr>
		<li><strong><%= link_to "People-Faculty Interviews", people_faculty_interviews_path %></strong></li>
		<hr>
		<li><strong><%= link_to "People-390/490 Faculty", people_faculty_other_path %></strong></li>
		<hr>
			<li><strong><%= link_to "About-FAQs", about_faq_path %></strong></li>
			<hr>
			<li><strong><%= link_to "About-Why major in IB?", about_whyib_path %></strong></li>
			<hr>
			<li><strong><%= link_to "About-Contact Us", about_contact_path %></strong></li>
			<hr>
			<li><strong><%= link_to "About-Convocation", about_convocation_path %></strong></li>



	      </ul>
           </div>
         </div>
        </li>
       </ul>
    </li>




   </ul>
  </div>
 </div>
</div>
</header>


