<header class="header"> 

   <div class="container" id="banner"  >
      <div class="row"> 


 <%= image_tag "imark_blue.jpg", id: 'imark' %> 
  <%= image_tag "cells.png", id: 'cells' %> 
  
  <div id="school_of">School of</div>
  <div id="integrative">Integrative</div>
  <div id="biology">Biology</div>

	</div>
    </div>

<!--<div class="navbar supermenu navbar-inverse navbar-fixed-top">-->

<div class="navbar supermenu navbar-static-top" role ="navigation" id="topnavbar" >
   
<!--KA: Use container-fluid if you want a full page width menu
   <div class="container-fluid"> -->
   <div class="container">

      <div id ="logo_div" class="navbar-header" >
         <button id ="logo_btn" type="button" data-toggle="collapse" data-target="#navbar-collapse-1" class="navbar-toggle" >
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
	</button>
       <a href="/" class="navbar-brand"> School of Integrative Biology</a>
      </div>

     
    <!-- Menu Item-1 -->
     <div id="navbar-collapse-1" class="navbar-collapse collapse" >
	<ul class="nav navbar-nav">
	   <li class="dropdown supermenu" id = "navitem1"><a href="#" data-toggle="dropdown" class="dropdown-toggle"  >About</a>
	     <ul class="dropdown-menu" >
	       <li>
	          <div class="supermenu-content">
		    <div class="row">
		      <ul class="col-md-5 list-unstyled">
			<li><strong><%= link_to "Department & Programs", about_depts_path %></strong></li>
			<hr>
			<li><strong><%= link_to "FAQs", about_faq_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Why major in IB?", about_whyib_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Contact Us", about_contact_path %></strong></li>
			<hr>
			<li><strong><%= link_to "Convocation", about_convocation_path %></strong></li>
		      </ul>
		</div>
	      </div>
            </li>
          </ul>
        </li>


    <!-- Menu Item-2 -->
    <li class="dropdown supermenu "><a href="#" data-toggle="dropdown" class="dropdown-toggle">Undergraduate</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row"  >

	      <ul class="col-md-5 list-unstyled">
		<li><strong><%= link_to "Advising", advising_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Prospective", prospective_path %></strong></li>
		<hr>
		<li><strong><%= link_to "What Can I do with IB?", options_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Programs of Study", programs_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Special Programs", special_programs_path %></strong></li>
	      </ul>
  	</div>
          </div>
        </li>
      </ul>
    </li>


    <!-- Menu Item-3 -->
    <li class="dropdown supermenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Graduate</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	       <ul class="col-md-5 list-unstyled">
		<li><strong><%= link_to "Departments & Programs", grad_depts_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Grants & Awards", grad_grants_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Support", grad_support_path %></strong></li>
		<hr>
		<li><strong><%= link_to "News & Features", grad_news_path %></strong></li>
	      </ul>
           </div>
         </div>
        </li>
       </ul>
    </li>

    <!-- Menu Item-4 -->
    <li class="dropdown supermenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Courses</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	      <ul class="col-md-5 list-unstyled">
		  <li><strong><a  href="#"> All IB Courses </a></strong></li>
		  <hr>
		  <li><strong><a  href="#"> Advanced Courses By Semester </a></strong></li>
		  <hr>
		  <li><strong><a  href="#"> Advanced Area Courses </a></strong></li>
		  <hr>
		  <li><strong><a  href="#"> Addtional Approved Advanced Courses</a></strong></li>
 		  <hr>
		  <li><strong><a  href="#"> Special Topics Courses</a></strong></li>
		  <hr>
		  <li><strong><a  href="#"> Proficiency Exams </a></strong></li>

	      </ul> 	  
           </div>
         </div>
        </li>
       </ul>
    </li>

    <!-- Menu Item-5 -->
    <li class="dropdown supermenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">People</a>
      <ul class="dropdown-menu">
	<li>
	   <div class="supermenu-content">
	    <div class="row">
	      <ul class="col-md-5 list-unstyled">
		<li><strong><%= link_to "Faculty", people_faculty_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Staff", people_staff_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Academics", people_academics_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Graduate Students", people_grad_students_path %></strong></li>
		<hr>
		<li><strong><%= link_to "Faculty Interviews", people_faculty_interviews_path %></strong></li>
		<hr>
		<li><strong><%= link_to "390/490 Faculty", people_faculty_other_path %></strong></li>

	      </ul>
           </div>
         </div>
        </li>
       </ul>
    </li>



   </ul>
  </div>
 </div>
</div>
</header>

